* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Permanent Marker", cursive;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.img-100sz {
  width: 100px;
  height: 100px;
}

.boxshadow {
  box-shadow: 0 0 10px black;
}

.flex-directioncolumn {
  flex-direction: column;
}

.d-block {
  display: block;
}

.m-auto {
  margin: auto;
}

ul li {
  color: black;
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

a,
strong {
  color: black;
}

.border-once {
  border: 1px solid black;
}

.container-parent h1 {
  background-color: aliceblue;
  color: red;
  padding: 20px;
  border-radius: 5px;
  border: 1px black solid;
}

.card-container {
  border: 2px black solid;
  background-color: #c2ce8d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardcontainer-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.text-white {
  color: white;
}

.gap {
  gap: 10px;
}

.card {
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  background-color: aliceblue;
}

.card img {
  width: 300px;
  height: 300px;
}

.title {
  position: relative;
  border: 2px black solid;
  background-image: linear-gradient(white, #dbdecb);
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  max-width: fit-content;
}

.gallery {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #040404;
  margin-top: 5px;
}

.card h2,
.card p {
  padding-left: 10px;
}

.image img {
  height: 300px;
  width: 300px;
  margin: 10px;
}

.content {
  color: red;
  text-align: justify;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  width: 800px;
}

.thankyou img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thankyou p {
  display: block;
  margin: auto;
  text-align: center;
}

.uparrow:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* =================================== */

.about {
  background-color: dimgrey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.about-child {
  margin-top: 10px;
  border: 2px black solid;
  padding: 20px;
  display: block;
  margin: auto;
}

.about-content {
  padding: 20px;
  border-radius: 10px;
}

.about-child span {
  display: flex;
  align-items: center;
}

.about-child img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px black;
  padding: 5px;
}

.btn-back {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.btn-back a {
  text-decoration: none;
}

/* ==================================== */

.contact {
  background-color: dimgrey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.contact-child {
  margin: 10px auto;
  border: 2px black solid;
  padding: 10px;
  font-size: 30px;
  display: block;
}

.contact-child ul li {
  list-style-type: none;
  color: blue;
}

/* ============================ */
@media (max-width: 768px) {
  .container {
    display: block;
    padding: 50px;
    width: auto;
  }

  .header {
    display: none;
  }
}

@media (max-width: 500px) {
  .cardcontainer-child {
    display: block;
  }

  .uparrow {
    display: none;
  }

  .about-child img {
    display: block;
    margin: auto;
  }

  .about-child span {
    display: block;
    margin: auto;
  }

  .about-child {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .cardcontainer-child {
    grid-template-columns: 1fr 1fr; /* 2 columns for tablets and larger */
  }
}

/* Media query for medium screens */
@media (min-width: 992px) {
  .cardcontainer-child {
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns for desktops */
  }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
  .cardcontainer-child {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns for larger desktops */
  }
}
