* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Permanent Marker", cursive;
}

ul li {
  color: black;
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

span {
  display: flex;
  align-items: center;
}
/* ================= */

.section1 {
  border: 2px black solid;
  background-color: #c2ce8d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 300px;
  border: 1px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  background-color: aliceblue;
}

.card img {
  width: 300px;
  height: 300px;
}

.title {
  position: relative;
  border: 2px black solid;
  background-image: linear-gradient(white, #dbdecb);
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  max-width: fit-content;
}

.section2 {
  padding: 20px;
}

.gallery {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #040404;
  margin-top: 5px;
}

.card h2,
.card p {
  padding-left: 10px;
}

.content {
  color: black;
  text-align: justify;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  width: 800px;
}

.thankyou img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thankyou p {
  display: block;
  margin: auto;
  text-align: center;
}

.uparrow:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* =================================== */

.about {
  background-color: dimgrey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.about-child {
  margin-top: 10px;
  border: 2px black solid;
  padding: 20px;
  display: block;
  margin: auto;
}

.about-content {
  padding: 20px;
  border-radius: 10px;
}

.about-child span {
  display: flex;
  align-items: center;
}

.about-child img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px black;
  padding: 5px;
}

.btn-back {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.btn-back a {
  text-decoration: none;
}

/* ==================================== */

.contact {
  background-color: dimgrey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.contact-child {
  margin: 10px auto;
  border: 2px black solid;
  padding: 10px;
  font-size: 30px;
  display: block;
}

.contact-child ul li {
  list-style-type: none;
  color: blue;
}

@media screen and (max-width: 767px) {
  span h1 {
    display: none;
  }
  .card-container {
    display: block;
    margin: auto;
  }

  .box-container img {
    width: 200px;
    height: 200px;
  }
}
